/* Footer */
.footer {
    padding: 2.5rem;
    background-color: black;
}

/* Títulos del footer */
.footer-title {
    width: 14.375rem;
    display: block;
    font-weight: 500 !important;
    letter-spacing: 140% !important;
    padding-bottom: 0.625rem;
    border-bottom: 2px solid #0184EF;
    margin-bottom: 1.25rem !important;
}

/* Links del footer */
.footer-link {
    display: block;
    text-decoration: none !important;
    margin-bottom: 1rem !important;
    transition: opacity .5s;
}

.footer-link:hover {
    opacity: 0.5;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Desktop */
@media (min-width: 1050px){

    /* Footer */
    .footer {
        padding: 2.5rem 6.25rem;
    }
}