/* Footer */
.footer {
    padding: 2.5rem 6.25rem;
    background-color: black;
}

/* Títulos del footer */
.footer-title {
    width: 14.375rem;
    display: block;
    font-weight: 500;
    letter-spacing: 140%;
    padding-bottom: 0.625rem;
    border-bottom: 2px solid #0184EF;
    margin-bottom: 1.25rem;
}

/* Ítems del footer */
.footer-item {
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}