/* Formulario de login */
.login-form {
    background-color: #2E2E2F;
    padding: 2.5rem;
    margin-bottom: 1rem;
}

/* Caja del botón del formulario */
.login-form-button-box {
    display: flex;
    justify-content: center;
}

/* Botón del formulario */
.login-form-button {
    width: 10rem !important;
    text-transform: none !important;
    border-radius: 8px !important;
    font-size: 1.25rem !important;
    font-weight: 900 !important;
    padding: 0.5rem 0 !important;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Desktop */
@media (min-width: 1050px){

    /* Formulario de login */
    .login-form {
        padding: 2.5rem 8.75rem;
    }

    /* Caja del botón del formulario */
    .login-form-button-box {
        justify-content: flex-end;
    }
}