/* Banner principal */
.main-banner {
    height: 50vh;
    background-image: url('/main-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título del banner principal */
.title-main-banner {
    font-size: 1.75rem !important;
    width: 70% !important;
    letter-spacing: 3% !important;
    line-height: 130% !important;
    margin-bottom: 1.5rem !important;
    text-align: left !important;
}

/* Botón del banner principal */
.button-main-banner {
    width: 9rem !important;
    text-transform: none !important;
    border: 2px solid #0184EF !important;
    border-radius: 8px !important;
    padding: 0.5rem 0 !important;
    transition: background-color .3s, border .3s !important;
}

.button-main-banner:hover {
    background-color: #0184EF !important;
    border: 2px solid black !important;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Tablet */
@media (min-width: 768px){

    /* Banner principal */
    .main-banner {
        height: 70vh;
        padding: 0 3.75rem;
    }

    /* Título del banner principal */
    .title-main-banner {
        font-size: 2.5rem !important;
        width: 60% !important;
    }
}

/* Media queries versión Desktop */
@media (min-width: 1050px){

    /* Banner principal */
    .main-banner {
        height: calc(100vh - 100px);
    }

    /* Título del banner principal */
    .title-main-banner {
        font-size: 3.75rem !important;
        width: 50% !important;
    }
}