/* Body de la página */
.supplies-body {
    background-color: white;
    padding: 5rem 0;
}

/* Título de intro a la página */
.supplies-intro-title {
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 1.25rem !important;
}

/* Link del título de intro a la página */
.supplies-intro-subtitle {
    display: block !important;
    margin: 0 auto !important;
    font-weight: 700 !important; 
}

/* Contenedor de los equipos */
.equipments-supplies {
    background: linear-gradient(to right bottom, #0C0C0C, #696A6C);
    padding: 2.5rem;
    margin-bottom: 3.75rem;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Tablet */
@media (min-width: 768px){

    /* Título de intro a la página */
    .supplies-intro-title {
        width: 85% !important;
    }

    /* Link del título de intro a la página */
    .supplies-intro-subtitle {
        width: 85% !important;
    }
}