/* Navbar versión mobile */
.navbar-mobile {
    display: flex;
    width: 100%;
    height: 6.25rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: linear-gradient(#696A6C, #FFFFFF, #696A6C);
    position: fixed;
    top: 0;
    z-index: 99;
}

/* Navbar versión desktop */
.navbar-desktop {
    width: 100%;
    height: 6.25rem;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: linear-gradient(#696A6C, #FFFFFF, #696A6C);
    position: fixed;
    top: 0;
    z-index: 99;
}

/* Container con los links */
.links-navbar {
    width: 50%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Links del navbar */
.link-navbar {
    text-decoration: none;
    transition: opacity .5s;
}

.link-navbar:hover {
    opacity: 0.5;
}

/* Botón del Navbar */
.button-navbar {
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Desktop */
@media (min-width: 1050px){

    /* Navbar versión mobile */
    .navbar-mobile {
        display: none;
    }

    /* Navbar versión desktop */
    .navbar-desktop {
        display: flex;
    }

}

/* Media queries versión Desktop grande */
@media (min-width: 1300px) {

    /* Container con los links */
    .links-navbar {
        width: 40%;
    }
}