/* Navbar versión mobile */
.navbar-mobile {
    display: flex;
    width: 100%;
    height: 6.25rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: linear-gradient(#696A6C, #FFFFFF, #696A6C);
    position: fixed;
    top: 0;
    z-index: 99;
}

/* Navbar versión desktop */
.navbar-desktop {
    width: 100%;
    height: 6.25rem;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: linear-gradient(#696A6C, #FFFFFF, #696A6C);
    position: fixed;
    top: 0;
    z-index: 99;
}

/* Container con los links */
.links-navbar {
    width: 50%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Links del navbar */
.link-navbar {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none !important;
    transition: opacity .5s, padding .5s, border-bottom .5s;
}

.link-navbar:hover {
    opacity: 0.5;
    padding: 0.5rem 0;
    border-bottom: 4px solid #0184EF;
}

/* Menú desplegable de Servicios */
.navbar-menu-services {
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;
    height: calc(100vh - 100px);
    width: 100vw;
    z-index: 99;
}

/* Ítems del menú desplegable de Servicios */
.navbar-menu-services-item {
    width: 100%;
    height: calc(100vh - 100px);
    /* background-color: #696A6C; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 1px solid white;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    filter: brightness(50%);
    cursor: pointer;
}

.navbar-menu-services-item:hover {
    filter: brightness(200%);
}

/* Ítem "Diagnóstico" */
.navbar-menu-services-item-diagnosis {
    background-color: none;
    background-image: url('/diagnosis-navbar.png');
}

/* Ítem "Diseño" */
.navbar-menu-services-item-design {
    background-color: none;
    background-image: url('/design-navbar.png');
}

/* Ítem "Ejecución" */
.navbar-menu-services-item-execution {
    background-color: none;
    background-image: url('/execution-navbar.png');
}

/* Número de cada ítem del menú de Servicios */
.navbar-menu-services-item-number {
    display: block !important;
    font-size: 2.5rem !important;
    font-weight: 900 !important;
    padding: 0.125rem 1.25rem !important;
    border-radius: 50% !important;
    background-color: #0184EF !important;
    margin-bottom: 1.5rem !important;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Desktop */
@media (min-width: 1050px){

    /* Navbar versión mobile */
    .navbar-mobile {
        display: none;
    }

    /* Navbar versión desktop */
    .navbar-desktop {
        display: flex;
    }

}

/* Media queries versión Desktop grande */
@media (min-width: 1300px) {

    /* Container con los links */
    .links-navbar {
        width: 40%;
    }
}