/* Body de la página */
.diagnostic-body {
    background-color: white;
    padding: 5rem 3.75rem;
}

/* Título de intro a la página */
.diagnostic-intro-title {
    display: block !important;
    margin: 0 auto !important;
}

/* Imagen de evaluación de proyectos a la página */
.diagnostic-projects-img {
    width: 100%;
    height: 12.5rem;
    position: relative;
    margin-bottom: 3.75rem;
}

/* Contenedor de la sección de info de proyectos */
.diagnostic-projects-body-container {
    padding: 0;
}

/* Imagen de evaluación de proyectos a la página */
.diagnostic-machines-img {
    width: 100%;
    height: 12.5rem;
    position: relative;
    margin-bottom: 3.75rem;
}

/* Contenedor de la sección de info de proyectos */
.diagnostic-machines-body-container {
    padding: 0;
}

/* -------------------------------- MEDIA QUERIES ------------------------------- */

/* Media queries versión Tablet */
@media (min-width: 768px){

    /* Título de intro a la página */
    .diagnostic-intro-title {
        width: 85% !important;
    }

    /* Imagen de intro a la página */
    .diagnostic-projects-img {
        height: 31.25rem;
    }

    /* Contenedor de la sección de info de proyectos */
    .diagnostic-projects-body-container {
        padding: 0 2.5rem;
    }

    /* Contenedor de la sección de info de proyectos */
    .diagnostic-machines-body-container {
        padding: 0 2.5rem;
    }

    /* Imagen de evaluación de proyectos a la página */
    .diagnostic-machines-img {
        height: 31.25rem;
    }
}